
#page-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app-body {
    display: flex;
}

#tools {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin: 5%;
}

#tools button {
    margin: 5%;
    flex: 0 0 auto;
    white-space: nowrap;
    width: 100%;
    height: 2rem;
}

#canvas {
    display: flex;
    flex-direction: column;
    width: min(70vw, 70vh);
    height: min(70vw, 70vh);
    aspect-ratio: 1 / 1;
    border: 2px solid black;
}

.row {
    display: flex;
    flex: 1;
}

.tile {
    flex: 1;
}

.draw {
    background-color: black;
}

h1 {
    font-size: 50px;
    margin: 5%;
}

#footer {
    text-align: center;
    margin-top: auto;
}

body {
    margin: 0;
}